<div class = 'error-message'>
	<% if flash[:error] %>
			<%= flash[:error] %>
	<% end %>
	<span id = 'registration_error' style = 'display:none'></span>
</div>
<%= form_tag admin_upload_image_path, multipart: true do %>
	<%= label_tag :gallery_image, "Image:" %>
	<%= file_field_tag :gallery_image %>
	<br/>
	<%= label_tag :caption, "Caption:" %>
	<%= text_field_tag :caption %>
	<br/>
	<%= label_tag :desc, "Descirption:" %><br/>
	<%= textile_editor_tag :desc, nil, size: "125x23" %>
	<br/>
	<%= textile_editor_initialize %>
	<%= submit_tag "Upload", id: :upload %>
<% end %>
