<div class = 'error-message'>
	<% if flash[:error] %>
			<%= flash[:error] %>
	<% end %>
	<span id = 'registration_error' style = 'display:none'></span>
</div>
<%= form_tag forum_create_post_path do %>
	<%= text_field_tag :title %>
	<br/>
	<%= textile_editor_tag :content, nil, size: "125x17" %>
	<br/>
	<%= textile_editor_initialize %>
	<%= submit_tag "Create Post", id: 'create_post', class: 'button' %>
<% end %>