<div class = 'check-pm-wrapper'>
	<h2><%= "#{current_user.fname}'s Messages" %></h2>

	<div class = 'pm-messages'>
		<ul>
		<%= "No Messages." if @pms.empty? %>
		<% @pms.each do |pm| %>
			<li><span class= "pm-subject"><%= link_to pm.subject, user_check_one_pm_path(id: pm.id) %></span>
				<span class = 'new-pm-indicator'><%= 'New' unless pm.seen %></span><br/>
				<%= link_to "#{User.find(pm.from).fname} #{User.find(pm.from).lname}", user_page_path(id: pm.from) %>&nbsp;&nbsp;
				<em><%= pm.created_at.strftime "%d/%m/%Y  %I:%M %p" %></em>
			</li>
		<% end %>	
	</div>
</div>