<%= javascript_include_tag :logger %>

<div class = 'error-message' id = 'logger_error' style = 'display:none'></div>
<div class = 'error-message'>
	<% if flash[:error] %>
			<%= flash[:error] %>
	<% end %>
</div>

<%= form_tag user_login_path do %>
	<%= label_tag :email, "Email:" %><br/>
	<%= email_field_tag :email %>
	<br/><br/>
	<%= label_tag :password, "Password:" %><br/>
	<%= password_field_tag :password %>
	<br/><br/>
	<%= submit_tag "Login", id: 'login_button', class: 'button' %>
<% end %>