<div class = 'user-page-wrapper'>
<div class = 'user-details'>
	<%= image_tag @cu.image_url.to_s %>
	<p><%= @cu.fname %> <%= @cu.lname %></p>
	<p><%= @cu.typeof %></p>
	<p><%= @cu.email %> <%= @cu.phone %></p>
	<p><%= @cu.dob.strftime( "%d/%m/%Y") %></p>
	<p><%= @cu.yearofpassing if @cu.yearofpassing %></p>
</div>

<div class = 'department=specific'>
	<p><%= @cu.department %></p>
	<% if @cu.typeof === "Alumni" %>
		<p><%= @cu.status if @cu.status %></p>
		<p><%= @cu.inst if @cu.inst %></p>
	<% end %>
	<% if @cu.typeof === "Teacher" %>
		<p><%= @cu.posit %></p>
	<% end %>

	<p><%=link_to "Edit", user_edit_path(id: @cu.id), class: 'button' %> <%= link_to "Delete", user_delete_path, class: 'button' %></p>
</div>
</div>