<div class = 'user-page-wrapper'>

	<div class = 'confirm-message'>
		<%= flash[:message] if flash[:message] %>
	</div>
<div class = 'user-image-box'>
	<%= image_tag @cu.image_url.to_s %>
	<p><%= @cu.typeof %></p>
</div>
<div class = 'user-details'>
	<div class = 'user-page-head'>
		<h2><%= @cu.fname %> <%= @cu.lname %></h2>
		<em><u><%= link_to @cu.email, "mailto:#{@cu.email}", class: 'user-email' %></u></em>
	</div>

	<p><span class = 'prop'>Contact No.</span> <br/><%= @cu.phone if @cu.phone %></p>
	<p><span class = 'prop'>D.O.B</span> <br/><%= @cu.dob.strftime( "%d/%m/%Y") if @cu.dob %></p>
	<p><span class = 'prop'>Class Of</span> <br/><%= @cu.yearofpassing if @cu.yearofpassing %></p>
</div>

<div class = 'department-specific'>
	<p><span class = 'prop'>Department</span> <br/><%= @cu.department if @cu.department %></p>
	<% if @cu.typeof === "Alumni" %>
		<% if @cu.status != "" %><p><span class = 'prop'>Current Status</span> <br/><%= @cu.status %></p><% end %>
		<% if @cu.inst != "" %><p><span class = 'prop'>Institution or Organization</span> <br/><%= @cu.inst %></p><% end %>
	<% end %>
	<% if @cu.typeof === "Teacher" %>
		<p><span class = 'prop'>Post</span> <br/><%= @cu.posit if @cu.posit %></p>
	<% end %>
</div>
<% if current_user.id === @cu.id %>
	<p><%=link_to "Edit", user_edit_path(id: @cu.id), class: 'button' %> <%= link_to "Delete", user_delete_path, class: 'button' %></p>
<% elsif is_admin? %>
	<p><%= link_to "P.M", user_pm_path(id: @cu.id), class: 'button' %> <%= link_to 'Delete', admin_user_delete_path(id: @cu.id), class: 'button' %></p>
<% else %>
	<p><%= link_to "P.M", user_pm_path(id: @cu.id), class: 'button' %></p>
<% end %>
</div>