<%= javascript_include_tag :registration %>

<div class = 'register-wrapper'>
<div class = 'error-message'>
	<% if flash[:error] %>
			<%= flash[:error] %>
	<% end %>
	<span id = 'registration_error' style = 'display:none'></span>
</div>
<div class = 'register-form-wrapper'>
<%= form_tag user_create_path, multipart: true do %>
	<%= label_tag :typeof, "Type of Account:" %>
	<%= select_tag :typeof, "<option selected='selected'>Alumni</option><option>Teacher</option><option>Student</option>".html_safe %>
	<br/>
	<%= label_tag :image, "Image:" %><span class = "mandatory-field">*</span>
	<%= file_field_tag :image %>
	<br/>
	<%= label_tag :fname, "First Name:" %><span class = "mandatory-field">*</span>
	<%= text_field_tag :fname %>
	<br/>
	<%= label_tag :lname, "Last Name:" %><span class = "mandatory-field">*</span>
	<%= text_field_tag :lname %>
	<br/>
	<%= label_tag :dob, "Date of Birth:" %><span class = "mandatory-field">*</span>
	<%= date_select :dob, :d, start_year: 1940, end_year: Time.now.year-17 %>
	<br/>
	<%= label_tag :department, "Department:" %><span class = "mandatory-field">*</span>
	<%= text_field_tag :department %>
	<br/>
	<%= label_tag :yearofpassing, "Year of Passing:" %><span class = "mandatory-field">*</span>
	<%= select_year Date.today, start_year: 1940 %>
	<br/>
	<%= label_tag :status, "Current Status:" %>
	<%= text_field_tag :status %>
	<br/>
	<%= label_tag :inst, "Institution or Organization:" %>
	<%= text_field_tag :inst %>
	<br/>
	<%= label_tag :posit, "Position:" %><span class = "mandatory-field">*</span>
	<%= text_field_tag :posit, nil, disabled: :disabled %>
	<br/>
	<%= label_tag :email, "Email:" %><span class = "mandatory-field">*</span>
	<%= email_field_tag :email %>
	<br/>
	<%= label_tag :phone, "Phone No.:" %><span class = "mandatory-field">*</span>
	<%= text_field_tag :phone %> <span class = 'form-field-info'>Ten digit phone number, no spaces or hyphen.</span>
	<br/>
	<%= label_tag :password, "Password:" %><span class = "mandatory-field">*</span>
	<%= password_field_tag :password %> <span class = 'form-field-info'>Minimum 6 characters, maximum 16, letters and numbers only.</span>
	<br/>
	<%= label_tag :conf_password, "Confirm Password:" %><span class = "mandatory-field">*</span>
	<%= password_field_tag :confirm_password %>
	<br/>
	<%= submit_tag "Register", id: 'register' %>
<% end %>
</div>
</div>