<div class = 'one-image-wrapper'>
	<%= link_to "<< back", gallery_gallery_path, class: 'button' %>
	<div>
		<%= image_tag @gal_one.gallery_image, alt: @gal_one.caption %>
		<h3><%= @gal_one.caption %></h3>
		<p><%= txtl @gal_one.desc %></p>
	</div>
	<% if is_admin? %>
		<%= link_to "Delete", admin_delete_image_path( id: @gal_one.id), class: 'button' %>
	<% end %>
</div>