<%= javascript_include_tag :jquery_cycle_lite %>
<%= javascript_include_tag :home %>
<%= javascript_include_tag :jquery_simplyscroll_min %>

<div class = 'home-wrapper'>
	<div class = 'error-message'>
		<%= flash[:error] if flash[:error] %>
	</div>
	<div class = 'confirm-message'>
		<%= flash[:message] if flash[:message] %>
	</div>

	<div id = 'slideshowContainer'>
		<div class = 'slideshow'>
			<% GalleryImages.all.each do |gi| %>
				<%= image_tag gi.gallery_image.to_s, size: "540x440" %>
			<% end %>
		</div>
	</div>

	<div class = 'scrollers'>
		<div class = 'event-list'>
			<ul id = 'scrollable'>
				<% @events.each do |e| %>
					<%= link_to event_event_one_path id: e.id do %><li>
						<span class = 'title'><%= e.title %></span>
						<span class = 'date'><%= e.date_on.strftime "...%d/%m/%Y" %></span>
					<% end %></li>
				<% end %>
			</ul>
		</div>

		<div class = 'daily-list'>
			<ul id = 'scrollabled'>
				<% @dailybs.each do |d| %>
					<li>
						<%= link_to user_page_path(id: d.id) do %>
							<span class = 'title'>Today is <%= "#{d.fname} #{d.lname}'s" %> birthday!</span>
						<% end %>
					</li>
				<% end %>
				<% @daily.each do |d| %>
					<li>
						<span class = 'title'><%= d %></span>
					</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div>
		<p>This is because it is very easy to damage a Unix-like system when using it as root -- much easier than to damage most other types of operating systems. The designers of most other operating systems devised methods of protecting the system and data to compensate for the lack of a robust permissions system.</p>

		<p>However, an important principle of Unix-like operating systems is the provision of maximum flexibility to configure the system, and thus the root user is fully empowered. Unix-like systems assume that the system administrator knows exactly what he or she is doing and that only such individual(s) will be using the root account. Thus, there is virtually no safety net for the root user in the event of a careless error, such as damaging or deleting a critical system file (which could make the entire system inoperable).</p>
	</div>
</div>

