<!DOCTYPE html>
<html>
<head>
  <title><%= @title_field %> | RCCIITAlumni</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Expletus+Sans:700|Exo+2|Cardo' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=1366, maximum-scale=1">
</head>
<body>
<div class = 'universal-wrapper'>
<header>
	<%= link_to root_path do %>
		<%= image_tag 'logo-text.png', alt: "logo text", class: 'header-text' %>
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-------"mission to get closer and stronger..."</h2>
	<% end %>
	<div class = 'logbar'>
		<ul>
			<% if current_user %>
				<li><%= link_to "#{current_user.fname} #{current_user.lname}", user_page_path(id: current_user.id) %></li>
				<li><%= link_to 'Check P.M.', user_check_pm_path %></li>
				<li><%= link_to 'Search', search_search_path %></li>
				<li><%= link_to 'Logout', user_logout_path %></li>
			<% else %>
				<li><%= link_to 'Login', user_logger_path %></li>
				<li><%= link_to 'Register', user_register_path %></li>
			<% end %>
		</ul>
	</div>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Principal's Desk", site_pdesk_path %></li>
			<li><%= link_to "Chairman's Desk", site_cdesk_path %></li>
			<li><%= link_to "Gallery", gallery_gallery_path %></li>
			<% if current_user %>
				<li><%= link_to "Open Forum", forum_main_path %></li>
			<% end %>
			<li><%= link_to "Events", event_event_all_path %></li>
			<li><%= link_to "Acknowledgements", site_ack_path %></li>
			<li><%= link_to "Association Details", site_alumniassoc_path %></li>
			<li><%= link_to "Feedback", site_feedback_path %></li>
		</ul>
	</nav>
	<% if is_admin? %>
	<div class = 'admin-bar'>
		<ul>
			<li><%= link_to 'Manage Users', admin_user_all_path %></li>
			<li><%= link_to 'Upload to Gallery', admin_gallery_upload_path %></li>
			<li><%= link_to 'Create Events', admin_event_create_path %></li>
			<li><%= link_to 'Check Feedbacks', admin_check_feedback_path %></li>
		</ul>
	</div>
	<% end %>
</header>

<div class = 'yield-wrapper'>
<div class = "spacer"></div>
<%= yield %>

</div>
	
	<footer>
		<h1>Contact US:</h1>
	</footer>
</div>
</body>
</html>
